@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');

/* General styles */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: center 20% /cover no-repeat;
    background-image: url('../images/background-image.webp');
    display: flex;
    justify-content: center;
    overflow: hidden;
}

header {
    position: absolute;
    padding: 10px 10px;
    width: 100%;
}

/* Navigation bar */
nav {
    display: flex;
}

.about {
    margin-left: auto;
    padding-right: 10px;
}

.sound-control {
    padding-left: 10px;
}

/* The modal box styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
   
}

.modal-text {
    background: rgb(248, 228, 204);
    margin: 10% auto;
    padding: 10px;
    border: 1px solid rgb(248, 228, 204);
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    height: auto;
    position: relative;

}

.modal-text p {
    text-align: left;
    margin-left: 1rem;
}

#about-text {
    font-size: 1.3rem;
    text-align: center;
}

ol, #instructions {
    margin-left: 1rem;
}

ol li {
    margin: 5%;
    font-size: 0.8rem;
}

#intro-end {
    margin-top: -5px;
    font-size: 0.8rem;
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    font-weight: bold;
}

#close-box {
    display: flex;
    justify-content: flex-end;
}

#info-btn {
    font-size: 70%;
    font-family: Lato;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


/*Change the font awesome logo color*/
i {
    color: white;
    cursor: pointer;
    font-size: 150%;
}

a {
    color: white;
    text-decoration: none;
}


/* textblock on landing page*/
.welcome {
    border: 1px solid rgb(143, 188, 219);
    background-color: rgba(143, 188, 219, 0.9);
    max-width: 80%;
    height: 60%;
    top: 32%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
}

#text-container {
    padding: 5%;
}

#text, p {
    margin: 10% 10%;
    text-align: center;
}

#intro {
    margin: 5%;
}

/* Style the start, next and start-over buttons */
.btn {
    font-size: 90%;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    color: black;
}

.start {
    width: 80%;
    padding: 8px 20px;
}

.next-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-home button {
    margin: 10% 10px;
}

/* Start quiz button */
.start-quiz {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: black;
}

/* Styles related to the quiz */
.question-div,
.quiz-content{
        border: 1px solid rgb(143, 188, 219);
        background: rgba(143, 188, 219);
        max-width: 80%;
        height: 60%;
        top: 28%;
        position: relative;
}

.question-div  .btn, 
.track-score,
#start-over {
    display: flex;
    justify-content: center;
}

#start-over {
    margin-top: 20%;
}

.quiz-questions {
    padding: 2%;
}

#questions {
    padding-top: 5%;
}

/* Style the quiz questions */
#question-area {
    font-size: 100%;
    font-weight: bold;
}

.quiz-questions {
    font-size: 100%;
}

#score {
    font-weight: bold;
    margin-top: 5%;
}
/* Style and align the text when quiz is finished */
.feedback {
    font-size: 120%;
    margin-top: 30%;
}

/* answer button style */
.answer-btns {
    font-size: 90%;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: 2% 10%;
    color: black;
}

/* add hover effect to start, next and start-over the buttons */
.btn:hover {
    background: #0b2742;
    color: white;
    border: 1px solid #0b2742;
}

/* background-color to display correct/incorrect answer*/
.correct {
    background:#227521;
    color: black;
    border: none;
}

.incorrect {
    background: #9c1c14;
    color: black;
    border: none;
}

/* Hide the start-button and welcome text */
.hide {
    display: none;
}

/* footer */
footer {
    position:absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    display: flex;
}

#footer-text {
    color: white;
    margin: 0;
}

#footer-p {
    padding-left: 10px;
}

.social-media {
    font-size: 90%;
}

.social-media i:hover {
    padding: 0;
    color: white;
}

.social-media a {
    color: white;
    font-size: 70%;
}

/* Media queries */

/* Media query for tablets and larger screens */

@media screen and (min-width: 768px) {
   /* Font size modal box */
    ol li {
        font-size: 1.2rem;
    }

    .close, #text {
        font-size: 2rem;
    }

    #intro-end, .social-media  {
        font-size: 1.2rem
    }

    #instructions, #text-p {
        font-size: 1.5rem;
    }

    .welcome {
        max-width: 60%;
    }
}
