@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');

/* General styles */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: center 20% /cover no-repeat;
    background-image: url('../images/background-image.webp');
    display: flex;
    justify-content: center;
    overflow: hidden;
}

header {
    position: absolute;
    padding: 10px 10px;
    width: 100%;
}

/* Navigation bar */
nav {
    display: flex;
}

.about {
    margin-left: auto;
    padding-right: 10px;
}

.sound-control {
    padding-left: 10px;
}

/* The modal box styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
   
}

.modal-text {
    background: rgb(248, 228, 204);
    margin: 10% auto;
    padding: 10px;
    border: 1px solid rgb(248, 228, 204);
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    height: auto;
    position: relative;

}

.modal-text p {
    text-align: left;
    margin-left: 1rem;
}

#about-text {
    font-size: 1.3rem;
    text-align: center;
}

ol, #instructions {
    margin-left: 1rem;
}

ol li {
    margin: 5%;
    font-size: 0.8rem;
}

#intro-end {
    margin-top: -5px;
    font-size: 0.8rem;
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    font-weight: bold;
}

#close-box {
    display: flex;
    justify-content: flex-end;
}

#info-btn {
    font-size: 70%;
    font-family: Lato;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


/*Change the font awesome logo color*/
i {
    color: white;
    cursor: pointer;
    font-size: 150%;
}

a {
    color: white;
    text-decoration: none;
}


/* textblock on landing page*/
.welcome,
.quiz-content {
    border: 1px solid rgb(143, 188, 219);
    background-color: rgba(143, 188, 219, 0.9);
    max-width: 80%;
    height: 60%;
    top: 32%;
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
}

#text-container {
    padding: 5%;
}

#text, p {
    margin: 10% 10%;
    text-align: center;
}

#intro {
    margin: 5%;
}

/* Style the start, next and start-over buttons */
.btn {
    font-size: 90%;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    color: black;
}

.start {
    width: 80%;
    padding: 8px 20px;
}

.next-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-home button {
    margin: 10% 10px;
}

#next-button:hover {
    background: whitesmoke;
    color: black;
    border: 1px solid white;
}

/* Start quiz button */
.start-quiz {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: black;
}

/* Styles related to the quiz */
.question-div {
        border: 1px solid rgb(143, 188, 219);
        background: rgba(143, 188, 219);
        max-width: 80%;
        height: 60%;
        top: 28%;
        position: relative;
}

.question-div  .btn, 
.track-score,
#start-over,
#submit {
    display: flex;
    justify-content: center;
}

#user-email {
    font-size: 90%;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
    width: 50%;
    margin-bottom: 5%;
}

#start-over {
    margin-top: 10%;
}

#questions {
    padding: 5% 5px;
}

/* Styles the quiz questions */
#question-area {
    font-size: 100%;
    font-weight: bold;
    padding: 2% 5px;
}

.quiz-questions {
    font-size: 100%;
}

#score {
    font-weight: bold;
    margin-top: 5%;
}
/* Style and aligns the text when quiz is finished */
.feedback {
    font-size: 120%;
    margin-top: 30%;
    /* Line break*/
    white-space: pre-line; 
}

/* answer button style */
.answer-btns {
    font-size: 90%;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: 2% 10%;
    color: black;
}

/* add hover effect to start, next and start-over the buttons */
.btn:hover {
    background: #0b2742;
    color: white;
    border: 1px solid #0b2742;
}

/* background-color to display correct answer*/
.correct {
    background:#227521;
    color: black;
    border: none;
}
/* background-color to display incorrect answer*/
.incorrect {
    background: #9c1c14;
    color: black;
    border: none;
}

/* Hide all the elements with this class */
.hide {
    display: none;
}

/* footer */
footer {
    position:absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    display: flex;
}

#footer-text {
    color: white;
    margin: 0;
}

#footer-p {
    padding-left: 10px;
}

.social-media {
    font-size: 90%;
}

.social-media i:hover {
    padding: 0;
    color: white;
}

.social-media a {
    color: white;
    font-size: 70%;
}

/* Media queries */

@media screen and (max-width: 320px) {
    #text-container {
        font-size: 0.7rem;
    }
}


/* For landscape view on mobile devices and ipad */
@media screen and (orientation: landscape) and (max-width: 768px) {
   
     .welcome {
        width: 35%;
        height: auto;
        top: 30%;
    } 
   
    #text-container {
       font-size: 0.6rem;
       margin-top: -12%;
    }

    #text-p,
    #start-easy {
        margin-top: -10%;
    }

    #text-container p,
    #start-easy,
    #start-medium,
    #start-hard
     {
        font-size: 0.7rem;
        padding: 5px 20px;
    }

    /* Question div */

    .question-div,
    .quiz-content {
        font-size: 0.7rem;
        height: auto;
        top: 20%;
        width: 40%;
    }

    .next-home,
    #questions,
    .quiz-content {
        margin-top: -5%;
    }

    .quiz-content {
        top: 38%;
    }

    .feedback {
        margin-top: 5%;
    }
}



@media screen and (min-width: 576px) {
   /* Welcome-container on startpage quiz container */
     .welcome,
     .question-div,
     .quiz-content {
         max-width: 400px;
     }

     
     .start {
        font-size: 1rem;
     }
    /* Modal box font size and container width*/
    #text-p,
     #instructions {
        font-size: 1.2rem;
     }

     ol li,
     #intro-end {
        font-size: 1rem;
     }

     .modal-text {
        width: 60%;
     }
     
    }



/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
   /* Adjusts the font size modal box */
    ol li {
        font-size: 1.2rem;
    }

    .close, #text {
        font-size: 2rem;
    }

    .modal {
        top: 7%;
    }

    #intro-end, .social-media  {
        font-size: 1.2rem
    }

    #instructions, #text-p {
        font-size: 1.5rem;
    }

    /* Welcome-container on startpage quiz container */
    .welcome,
    .question-div,
    .quiz-content {
        max-width: 450px;
    }
}

/* Large devices, laptops and desktops */
@media screen and (min-width: 992px) {
    
    /* Modal-box */
    .modal {
        margin-top: -10%;
    }
     
    /* Welcome-container on startpage */ 
    .welcome{
         max-width: 420px;
         height: 63%;
     }

     #text-p,
     #start-easy {
        margin-top: -5%;
     }


     /* Quiz container*/
     .question-div,
     .quiz-content  {
        max-width: 420px;
        height: 63%;
        font-size: 1.2rem;
     }

    .social-media {
        font-size: 0.9rem;
     }
     /* Add the hover effect back on the next button */
    #next-button:hover {
        background: #0b2742;
        color: white;
        border: 1px solid #0b2742;;
    }

    }

    /* Very large desktops and laptops */
    @media screen and (min-width: 1200px) {
        /* Modal-box */
    .modal {
        margin-top: -4%;
    }
        
        /* Welcome-container on startpage*/
    .welcome,
    .quiz-content {
             max-width: 450px;
             height: 63%;
         }

        /* Add the hover effect back on the next button */
     #next-button:hover {
        background: #0b2742;
        color: white;
        border: 1px solid #0b2742;;
    }
        }